In [3]:
# pip install scipy==1.2 --upgrade
# pip install pandas==0.24 --upgrade
# 'factorial' from 'scipy.misc'

In [4]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import random
from trailblazer4ml.causal_discovery.datasets.easydataset import EasyDataset
from trailblazer4ml.causal_discovery.estimators.FCM_based import FCM

In [5]:
df = pd.read_csv("../trailblazer/trailblazer4ml/causal_inference/datasets/data/lalonde.csv")
df

,treat,age,educ,black,hispan,married,nodegree,re74,re75,re78
0,1,37,11,1,0,1,1,0.0,0.0,9930.0460
1,1,22,9,0,1,0,1,0.0,0.0,3595.8940
2,1,30,12,1,0,0,0,0.0,0.0,24909.4500
3,1,27,11,1,0,0,1,0.0,0.0,7506.1460
4,1,33,8,1,0,0,1,0.0,0.0,289.7899
5,1,22,9,1,0,0,1,0.0,0.0,4056.4940
6,1,23,12,1,0,0,0,0.0,0.0,0.0000
7,1,32,11,1,0,0,1,0.0,0.0,8472.1580
8,1,22,16,1,0,0,0,0.0,0.0,2164.0220
9,1,33,12,0,0,1,0,0.0,0.0,12418.0700
10,1,19,9,1,0,0,1,0.0,0.0,8173.9080
11,1,21,13,1,0,0,0,0.0,0.0,17094.6400
12,1,18,8,1,0,0,1,0.0,0.0,0.0000
13,1,27,10,1,0,1,1,0.0,0.0,18739.9300
14,1,17,7,1,0,0,1,0.0,0.0,3023.8790
15,1,19,10,1,0,0,1,0.0,0.0,3228.5030
16,1,27,13,1,0,0,0,0.0,0.0,14581.8600
17,1,23,10,1,0,0,1,0.0,0.0,7693.4000
18,1,40,12,1,0,0,0,0.0,0.0,10804.3200
19,1,26,12,1,0,0,0,0.0,0.0,10747.3500
20,1,23,11,1,0,0,1,0.0,0.0,0.0000
21,1,41,14,0,0,0,0,0.0,0.0,5149.5010
22,1,38,9,0,0,0,1,0.0,0.0,6408.9500
23,1,24,11,1,0,0,1,0.0,0.0,1991.4000
24,1,18,10,1,0,0,1,0.0,0.0,11163.1700
25,1,29,11,1,0,1,1,0.0,0.0,9642.9990
26,1,25,11,1,0,0,1,0.0,0.0,9897.0490
27,1,27,10,0,1,0,1,0.0,0.0,11142.8700
28,1,17,10,1,0,0,1,0.0,0.0,16218.0400
29,1,24,11,1,0,0,1,0.0,0.0,995.7002
...,...,...,...,...,...,...,...,...,...,...
584,0,37,8,1,0,0,1,0.0,0.0,648.7220
585,0,17,10,1,0,0,1,0.0,0.0,1053.6190
586,0,16,8,0,0,0,1,0.0,0.0,0.0000
587,0,48,12,0,0,1,0,0.0,0.0,1491.0260
588,0,55,7,0,0,0,1,0.0,0.0,0.0000
589,0,21,15,0,0,0,0,0.0,0.0,0.0000
590,0,16,10,1,0,0,1,0.0,0.0,1730.4180
591,0,23,12,0,0,0,0,0.0,0.0,3902.6760
592,0,46,11,1,0,1,1,0.0,0.0,0.0000
593,0,17,10,0,0,0,1,0.0,0.0,14942.7700
594,0,42,16,0,0,0,0,0.0,0.0,23764.8000
595,0,18,10,1,0,0,1,0.0,0.0,5306.5160
596,0,53,12,1,0,0,0,0.0,0.0,0.0000
597,0,17,10,0,0,1,1,0.0,0.0,3859.8220
598,0,17,6,0,0,0,1,0.0,0.0,0.0000
599,0,43,6,0,0,1,1,0.0,0.0,0.0000
600,0,34,12,1,0,0,0,0.0,0.0,0.0000
601,0,16,8,0,1,0,1,0.0,0.0,12242.9600
602,0,27,12,0,0,1,0,0.0,0.0,1533.8800
603,0,51,4,1,0,0,1,0.0,0.0,0.0000
604,0,39,2,1,0,1,1,0.0,0.0,964.9555
605,0,55,8,0,0,1,1,0.0,0.0,0.0000
606,0,16,9,0,0,0,1,0.0,0.0,5551.8190
607,0,27,10,1,0,0,1,0.0,0.0,7543.7940
608,0,25,14,0,0,0,0,0.0,0.0,0.0000
609,0,18,11,0,0,0,1,0.0,0.0,10150.5000
610,0,24,1,0,1,1,1,0.0,0.0,19464.6100
611,0,21,18,0,0,0,0,0.0,0.0,0.0000
612,0,32,5,1,0,1,1,0.0,0.0,187.6713
613,0,16,9,0,0,0,1,0.0,0.0,1495.4590

In [6]:
covariates = ['age', 'educ', 'black', 'hispan', 'married', 'nodegree']
treat = ['treat']
outcomes = ['re78']

In [7]:
data = EasyDataset(df, covariates, treat, outcomes)

In [8]:
data.get_data_array()

array([[3.700000e+01, 1.100000e+01, 1.000000e+00, ..., 1.000000e+00,
        1.000000e+00, 9.930046e+03],
       [2.200000e+01, 9.000000e+00, 0.000000e+00, ..., 1.000000e+00,
        1.000000e+00, 3.595894e+03],
       [3.000000e+01, 1.200000e+01, 1.000000e+00, ..., 0.000000e+00,
        1.000000e+00, 2.490945e+04],
       ...,
       [2.100000e+01, 1.800000e+01, 0.000000e+00, ..., 0.000000e+00,
        0.000000e+00, 0.000000e+00],
       [3.200000e+01, 5.000000e+00, 1.000000e+00, ..., 1.000000e+00,
        0.000000e+00, 1.876713e+02],
       [1.600000e+01, 9.000000e+00, 0.000000e+00, ..., 1.000000e+00,
        0.000000e+00, 1.495459e+03]])

In [9]:
ex1 = FCM(data)

Data size: 614

In [10]:
ex1._get_adjacent_matrix(method = 'ICALiNGAM').head()

      method  edge_start  edge_end  estimate_value
0  ICALiNGAM           0         1       -0.855251
1  ICALiNGAM           0         3       -1.999377
2  ICALiNGAM           0         4        6.696211
3  ICALiNGAM           0         5       -4.011331
4  ICALiNGAM           1         3       -0.823587

In [11]:
ex1._get_adjacent_matrix(method = 'DirectLiNGAM').head()

         method  edge_start  edge_end  estimate_value
0  DirectLiNGAM           0         1       -0.895895
1  DirectLiNGAM           0         3       -2.091487
2  DirectLiNGAM           0         4        6.525797
3  DirectLiNGAM           0         5       -4.032762
4  DirectLiNGAM           0         7        0.000066

In [12]:
ex1._get_adjacent_matrix(method = 'VARLiNGAM').head()

      method  edge_start  edge_end  estimate_value
0  VARLiNGAM           0         4        6.756197
1  VARLiNGAM           1         3       -0.381675
2  VARLiNGAM           1         5       -3.123555
3  VARLiNGAM           2         3       -0.335279
4  VARLiNGAM           2         4       -0.124582

In [13]:
ex1._get_adjacent_matrix(method = 'RCD').head()

  method  edge_start  edge_end  estimate_value
0    RCD           0         1             NaN
1    RCD           0         2             NaN
2    RCD           0         4             NaN
3    RCD           0         7             NaN
4    RCD           1         0             NaN

In [14]:
ex1._get_adjacent_matrix(method = 'CAMUV').head()

AttributeError: module 'causallearn.search.FCMBased.lingam' has no attribute 'CAMUV'