In [6]:
from trailblazer4ml.causal_discovery.datasets.easydataset import EasyDataset
from trailblazer4ml.causal_discovery.estimators.GNN_based import GNN_struct
from trailblazer4ml.causal_discovery.estimators.config import CONFIG
import warnings
warnings.simplefilter("ignore")

import pandas as pd
import numpy as np
# from causal_discovery.estimators.GNN_based import MLPEncoder, MLPDEncoder, SEMEncoder
# from causal_discovery.estimators.GNN_based import MLPDDecoder, MLPDiscreteDecoder, MLPDecoder, SEMDecoder

In [7]:
class CONFIG:
    """Dataclass with app parameters"""

    def __init__(self):
        pass

    # Epochs
    #     epochs = 300
    epochs = 5

    # Batch size (note: should be divisible by sample size, otherwise throw an error)
    batch_size = 50

    #     k_max_iter = 1e2
    k_max_iter = 3

    # Learning rate (baseline rate = 1e-3)
    lr = 1e-3

    x_dims = 1
    z_dims = 1
    optimizer = "Adam"
    graph_threshold = 0.3
    tau_A = 0.0
    lambda_A = 0.0
    c_A = 1
    use_A_connect_loss = 0
    use_A_positiver_loss = 0
    no_cuda = True
    seed = 42
    encoder_hidden = 64
    decoder_hidden = 64
    temp = 0.5
    encoder = "mlp"
    decoder = "mlp"
    no_factor = False
    encoder_dropout = 0.0
    decoder_dropout = (0.0,)
    h_tol = 1e-8
    lr_decay = 200
    gamma = 1.0
    prior = False

In [8]:
df = pd.read_csv("../trailblazer/trailblazer4ml/causal_inference/datasets/data/lalonde.csv")
df.head()

   treat  age  educ  black  hispan  married  nodegree  re74  re75        re78
0      1   37    11      1       0        1         1   0.0   0.0   9930.0460
1      1   22     9      0       1        0         1   0.0   0.0   3595.8940
2      1   30    12      1       0        0         0   0.0   0.0  24909.4500
3      1   27    11      1       0        0         1   0.0   0.0   7506.1460
4      1   33     8      1       0        0         1   0.0   0.0    289.7899

In [9]:
df = (df - df.min())/(df.max() - df.min())
covariates = ['age', 'educ', 'black', 'hispan', 'married', 'nodegree']
treat = ['treat']
outcomes = ['re78']

In [10]:
data = EasyDataset(df, covariates, treat, outcomes)

In [11]:
G_struct = GNN_struct(data, CONFIG)

Data size: 614

In [12]:
G_struct._get_feature_columns()

Index(['age', 'educ', 'black', 'hispan', 'married', 'nodegree', 'treat',
       're78'],
      dtype='object')

In [13]:
G_struct._get_adjacent_matrix()

nll_train: 0.0064705427 ELBO_loss: 0.0374975530 mse_train: 0.0016176357
nll_train: 0.0044352690 ELBO_loss: 0.0198582211 mse_train: 0.0011088172
nll_train: 0.0002812760 ELBO_loss: 0.0140660238 mse_train: 0.0000703190
nll_train: 0.0002611126 ELBO_loss: 0.0139211914 mse_train: 0.0000652781
nll_train: 0.0002507746 ELBO_loss: 0.0135293175 mse_train: 0.0000626937
nll_train: 0.0002378926 ELBO_loss: 0.0134091243 mse_train: 0.0000594731

    method  edge_start  edge_end  estimate_value
0  mlp-mlp           0         4               1
1  mlp-mlp           1         5               1
2  mlp-mlp           7         3               1